torch
torchvision
torchmetrics
tensorboard
pytorch-lightning
numpy
pandas
pyyaml
pytz
matplotlib
jupyter
tensorflow
umap-learn
plotly



monai 
numpy
datetime
pytz
pytorch-lightning
torch
torchvision
torchmetrics
scikit-learn
pandas
tqdm

